absl-py==0.13.0
astor==0.8.1
astunparse==1.6.3
attrs==21.2.0
bz2file==0.98
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.4
chex==0.0.8
click==8.0.1
cloudpickle==1.6.0
cycler==0.10.0
dataclasses==0.8
decorator==5.0.9
dill==0.3.4
dm-tree==0.1.6
dopamine-rl==3.2.1
Flask==2.0.1
flatbuffers==1.12
flax==0.3.4
future==0.18.2
gast==0.2.2
gevent==21.1.2
gin-config==0.4.0
google-api-core==1.31.1
google-api-python-client==2.15.0
google-auth==1.34.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
googleapis-common-protos==1.53.0
greenlet==1.1.0
grpcio==1.34.1
gunicorn==20.1.0
gym==0.18.3
h5py==2.10.0
httplib2==0.19.1
idna==3.2
imageio==2.9.0
importlib-metadata==4.6.3
importlib-resources==5.2.2
itsdangerous==2.0.1
jax==0.2.17
jaxlib==0.1.69
Jinja2==3.0.1
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kfac==0.2.3
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.3.4
mesh-tensorflow==0.1.19
mpmath==1.2.1
msgpack==1.0.2
numpy==1.18.5
oauth2client==4.1.3
oauthlib==3.1.1
opencv-python==4.5.3.56
opt-einsum==3.3.0
optax==0.0.9
packaging==21.0
pandas==1.1.5
Pillow==8.3.1
promise==2.3
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygame==2.0.1
pyglet==1.5.15
pyparsing==2.4.7
pypng==0.0.20
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scipy==1.5.1
six==1.16.0
sympy==1.8
tensor2tensor==1.15.7
tensorboard==1.15.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==1.15.5
tensorflow-addons==0.13.0
tensorflow-datasets==4.4.0
tensorflow-estimator==1.15.1
tensorflow-gan==2.0.0
tensorflow-hub==0.12.0
tensorflow-metadata==1.2.0
tensorflow-probability==0.7.0
termcolor==1.1.0
tf-slim==1.1.0
toolz==0.11.1
tqdm==4.62.0
typeguard==2.12.1
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.26.6
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0
